@model EXCEL2.Models.Panel_5_2664

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Panel_5_2664</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_ElementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_ElementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdModificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoModificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoModificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_ExecutedScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_ExecutedScript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Register_creation_ProcessID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Register_creation_ProcessID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Origin_Register_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Origin_Register_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_RegisterStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_RegisterStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Register_Origin_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Register_Origin_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Register_Origin_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Register_Origin_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Numerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Numerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_NUM_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_NUM_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_RAZON_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_RAZON_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_FECHA_EMISION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_FECHA_EMISION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_CUENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_CUENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3_TIPO_COMPROBANTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3_TIPO_COMPROBANTE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
